<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
	
		<!-- Data Source Configuration -->
		
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.username">admin</property>
		<property name="hibernate.connection.password">admin</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sys</property>
		<property name="connection.pool_size">10</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		
		<!-- Cache Configuration -->
		
		<property name="cache.use_second_level_cache">true</property>
		<property name="cache.use_query_cache">true</property>
		<property name="cache.provider_class">net.sf.ehcache.hibernate.EhCacheProvider</property>
		<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.internal.EhcacheRegionFactory</property> 
		
		<!-- Logging -->	
			
		<property name="show_sql">true</property>
		<property name="format_sql">false</property>
        <property name="use_sql_comments">false</property>
		
		<!-- Mapping Classes -->
		
		<mapping class="com.app.model.UserDetails" />
		
	</session-factory>

</hibernate-configuration>
