<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<session-config>
		<session-timeout>1</session-timeout>
		<cookie-config>
			<name>appcookie</name>
			<http-only>true</http-only>
			<max-age>60</max-age>
		</cookie-config>
		<tracking-mode>COOKIE</tracking-mode>
	</session-config>
	<display-name>My Servlet App</display-name>
	<description>A Demo Servlet Application</description>
	<welcome-file-list>
		<welcome-file>/FirstPage</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>Login</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>context-param1</param-name>
		<param-value>context-value1</param-value>
	</context-param>
	<listener>
		<listener-class>com.listener.ApplicationServletContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.listener.ApplicationServletContextAttributeListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.listener.ApplicationHttpSessionListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.listener.ApplicationHttpSessionAttributeListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.listener.ApplicationServletRequestListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.listener.ApplicationServletRequestAttributeListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>FirstServlet</servlet-name>
		<servlet-class>com.servlet.FirstServlet</servlet-class>
		<init-param>
			<param-name>param1</param-name>
			<param-value>value1</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>FirstServlet</servlet-name>
		<url-pattern>/FirstServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DownloadServlet</servlet-name>
		<servlet-class>com.servlet.DownloadServlet</servlet-class>
		<load-on-startup>-1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownloadServlet</servlet-name>
		<url-pattern>/Download</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FirstPage</servlet-name>
		<jsp-file>/WEB-INF/jsp/Hello.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>FirstPage</servlet-name>
		<url-pattern>/FirstPage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Loginpage</servlet-name>
		<jsp-file>/WEB-INF/jsp/Login.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Loginpage</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>InitJSP</servlet-name>
		<jsp-file>/initializer.jsp</jsp-file>
		<init-param>
			<param-name>default-user</param-name>
			<param-value>default-username</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>InitJSP</servlet-name>
		<url-pattern>/initializer.jsp</url-pattern>
		<url-pattern>/InitJSP</url-pattern>
	</servlet-mapping>
	<!-- <servlet>
		<servlet-name>sayhello</servlet-name>
		<servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>sayhello</servlet-name>
		<url-pattern>/sayhello</url-pattern>
	</servlet-mapping> -->
	<servlet>
		<servlet-name>FileUploadHandler</servlet-name>
		<servlet-class>com.servlet.FileUploadHandler</servlet-class>
		<init-param>
			<param-name>upload_dir</param-name>
			<param-value>E:/uploads</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileUploadHandler</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>MyFilter</filter-name>
		<filter-class>com.filter.MyFilter</filter-class>
		<init-param>
			<param-name>filter-param-name-1</param-name>
			<param-value>filter-param-value-1</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>MyFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
</web-app>