.block {
    background: blue;
    color: white;
    /* display: inline; */
    width: 150px;
    margin: 20px auto;
}

.inline {
    background: red;
    color: white;
    /* display: block; */
}

body {
    text-align: center;
}

li {
    text-align: left;
    list-style-type: none;
}

ol li a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 10px;
    margin: 10px;
    letter-spacing: 2px;
    background: #222;
    color: #f15025;
    display: block;
}