div {
    width: 150px;
    height: 150px;
    display: inline-block;
}

.one {
    background: red;
    transform: translateX(-20px)
}

.two {
    background: green;
    transform: translateY(50%)
}

.three {
    background: blue;
    transform: translate(200px, -75px);
}

.four {
    background: brown;
    transform: scaleX(0.5);
}

.five {
    background: turquoise;
    transform: rotateZ(135deg);
}
.six {
    background: yellowgreen;
    transform: skewX(-20deg);
    transition-property: background, border-radius;
    transition-duration: 4s;
}

.six:hover {
    border: 3px solid black;
    border-radius: 50%;;
}